@{
    ViewData["Title"] = "About";
}
 <!-- start section1 -->
    <div class="more-info about-info ">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row addMargintop">
                <div class="col-md-12" style="text-align: left;">
                  <img src="~/assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold;">WHO WE ARE</span>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h2>Bringing <em style="color: #252170;">Your Ideas</em> and Innovations to Life</h2>
                    <p>Our civil and structural team is committed to providing sustainable,
                      creative & efficient engineering solutions for our communities</p>
                      <ul class="menu-list" style="font-size:medium; color: #252170;" >
                        <li>• Making lives easier</li>
                        <li>• Get every solution right here</li>
                        <li>• Innovation and creativity</li>
                        <li>• Fine engineering only with us</li>
                      </ul>
                      <br>
                    <a asp-action="About" asp-controller="Home" class="filled-button">CONSULT NOW</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="~/assets/Pic/AboutUs1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end section1 -->
    <!-- start section2 -->
    <div class="row" style="background-color: #252170; padding: 50px; margin-top: 50px;">
      <div class="container"> 
      <div class="col-md-12" style="text-align: right;">
        <span style="font-weight: bold; color: #fff;">WHO WE ARE</span> <img src="~/assets/Pic/dash.png" style="width: 50px;">
      </div>
      <div class="col-md-12" style="text-align: right;">
        <h2 style="color: #fff;"><span style="color: #FFC631;">History</span> and</h2>
        <h2 style="color: #fff;">Company Information</h2>
        </div>

        <div class="col-md-12" style="padding-top: 50px;"> 
          <h4 style="color: #fff; font-weight: lighter;">
            TANTAWAN CONSTRUCTION AND SERVICE CO., LTD. (TANTAWAN) established in 2004
            has grown from a modest company and has been involved in key growth business sectors
            which includes oil and gas development construction and support services
          </h4>
          <br>
          <p style="color: #fff; font-weight: lighter;">
            Shop Fabrication, Assembly works, and Site Construction.
            Maintenance, Modification, Revamping and Upgrading of Facilities.
            Manpower Supply of Discipline Engineers,
            Supervisors and Skilled Personnel.
            Supply of technical Tool and Equipment for constructions.
            We aim to be more focused and dynamic to provide One-Stop End to End Solution for EPC Green Field Development
            and Brownfield Modification Works both Upstream and Downstream Oil and Gas Industries while continuing
            to introduce a range of new services and products to improve our processes and customer service to drive our growth.
            Field Modification Works both in Upstream and Downstream Oil & Gas Industries.
          </p>
          <br>
        </div>
        <div class="container">
          <img src="~/assets/Pic/History.png" style="width: 100%;">
        </div>
        </div>
    </div>
    <!-- end section2 -->
    <!-- start section3 -->
    <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="col-md-12" style="text-align: left;">
          <img src="~/assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold; color: #000;">WHO WE ARE</span> 
        </div>
        <div class="col-md-12" style="text-align: left;">
          <h2 style="color: #000;"><span style="color: #252170;">Core</span> Business</h2>
          </div>
          <div class="row">
          <div class="col-md-6">
            <br>
            <p>
              TANTAWAN is currently able to provide One-Stop End to End Solution
              for EPC Green Field Developments and Brown Field Modification
              Works both in Upstream and Downstream Oil & Gas Industries.
            </p>
          </div>
          <div class="col-md-6">

          </div>
          </div>
        </br>
          <div class="row">
            <div class="col-md-3">
              <img src="~/assets/Pic/Business1.png" style="width: 100%;">
            </div>
            <div class="col-md-3">
              <img src="~/assets/Pic/Business2.png" style="width: 100%;">
            </div>
            <div class="col-md-3">
              <img src="~/assets/Pic/Business3.png" style="width: 100%;">
            </div>
            <div class="col-md-3">
              <img src="~/assets/Pic/Business4.png" style="width: 100%;">
            </div>
          </div>
      </div>

    </div>
    <!-- end section3 -->
    <!-- start section4 -->
    <div class="row" style="background-color: #252170; padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="col-md-12" style="text-align: right;">
          <span style="font-weight: bold; color: #fff;">WHO WE ARE</span> <img src="~/assets/Pic/dash.png" style="width: 50px;">
        </div>
        <div class="col-md-12" style="text-align: right;">
          <h2 style="color: #fff;">Health,<span style="color: #FFC631;"> Safety and Enveronment</span></h2>
          <h2 style="color: #fff;">Management System</h2>
          </div>
        </br>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="text-align: right;">
              <p style="color: #fff;"> 
                We executed the works and services under ISO 45001 & ISO 14001
              </p> 
              <p style="color: #fff;">
                Occupational Health & Safety Management System covered all work site and location
              </p>
            </div>
          </div>
        </br>
          <div class="row">
            <div class="col-md-6">
              <img src="~/assets/Pic/CerSafety1.png" style="width: 100%;">
            </div>
            <div class="col-md-6">
              <img src="~/assets/Pic/CerSafety2.png" style="width: 100%;">
            </div>
          </div>

          <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
              <img src="~/assets/Pic/CerSafety3.png" style="width: 100%;">
            </div>
            <div class="col-md-6">
              <img src="~/assets/Pic/CerSafety4.png" style="width: 100%;">
            </div>
          </div>
          
      </div>
    </div>
    <!-- end section4 -->
    <!-- start section5 -->
    <div class="row" style="padding-top: 50px;">
      <div class="container">
        <div class="col-md-12" style="text-align: left;">
          <img src="~/assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold; color: #000;">WHO WE ARE</span> 
        </div>
        <div class="col-md-12" style="text-align: left;">
          <h2 style="color: #000;"><span style="color: #252170;">Quality</span> Management</h2>
          <h2 style="color: #000;"> System</h2>
        </div>
      </br>
      <div class="row">
        <div class="col-md-8">
          <p> 
            We executed the works and services under ISO 9001 Quality Management System covered
          </p> 
          <p>
            all work site and location
          </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-md-6">
          <img src="~/assets/Pic/CerQuality1.png" style="width: 100%;">
        </div>
        <div class="col-md-6">
          <img src="~/assets/Pic/CerQuality2.png" style="width: 100%;">
        </div>
      </div>
      </div>
    </div>