@{
  ViewData["Title"] = "Career";
}
<!-- Section 1 Start -->
<div class="row addMargintop">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: left;padding-top: 40px; ">
        <img src="~/assets/Pic/dash.png" style="width: 50px;"> <span
          style="font-weight: bold;color: black;">CAREER</span>
      </div>
      <div class="col-md-12" style="padding-top: 10px; text-align: left;">

        <h1> <span style="color:#252170;">Career</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="row" style="margin-top: 20px;">
      </div>
    </div>
    <div class="row" style="padding-top: 20px;">
      <div class="container">

        <div class="row" style="margin:20px;">
          <div class="col-md-12">
            <img src="~/assets/Pic/Career.png" style="width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Section 1 End -->
<!-- Section 2 Start -->
<br>
<div class="row" style=" padding: 50px; margin-top: 50px;">
  <div class="container">

    <div class="col-md-12" style="text-align: left;padding-top: 10px;">
      <h1> <span style="color: #252170;">Career Positions</span></h1>
      <br>
    </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>
              <hr style="width:100%;height: 5px;background-color: #FFC631;">
            </h1>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <br>
    <br><br>
    <div class="row">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <table class="table-bordered" style="width: 100%;">
              <tr style="height: 80px;">
                <th style="background-color: #252170;color: #fff;text-align: center;" class="tablinks btn-info"
                  onclick="openCity(event, 'Proposal','ProposalUL')">Proposal and Cost Engineer</th>

              </tr>
              <tr style="height: 80px;text-align: center;" class="tablinks">
                <th style="background-color: #252170;color: #fff;text-align: center;" class="tablinks btn-info"
                  onclick="openCity(event, 'Civil','CivilUL')">Civil Engineer</th>

              </tr>
              <tr style="height: 80px;text-align: center;" class="tablinks">
                <th style="background-color: #252170;color: #fff;text-align: center;" class="tablinks btn-info"
                  onclick="openCity(event, 'Draftsman','DraftsmanUL')">Draftsman</th>

              </tr>
            </table>
          </div>
          <div class="col-md-8" style="text-align: left;color:black;">
            <div class="col-md-12" style="text-align: left;">
              <h1> <span style="color: #252170;" id="DisableWhenclick">Proposal and Cost Engineer</span></h1>
              <h1> <span style="color: #252170;" id="Proposal" class="tabcontent">Proposal and Cost Engineer</span></h1>
              <h1> <span style="color: #252170;" id="Civil" class="tabcontent">Civil Engineer</span></h1>
              <h1> <span style="color: #252170;" id="Draftsman" class="tabcontent">Draftsman</span></h1>
              <br>

            </div>
            <div class="col-md-12" style="text-align: left;">
              <h4> <span style="color:black;">Qualification:</span></h4>

              <br>
            </div>
            <div>
              <ul id="DisableWhenclickUL" class="menu-list" style="font-size:large; color: black;">
                <li>• Thai national, age 25-40 years old</li>
                <li>• At least 3 years’ experience in oil & gas and chemical, refinery plant industries.</li>
                <li>• Bachelor Degree in engineering or related field.</li>
                <li>• Good command in English.</li>
                <li>• Good knowledge in bidding, proposal, costing, budgeting, insurance,capital interest, import duty
                  and taxes.</li>
                <li>• Flexibility to travel and work in multiple locations</li>
              </ul>
              <ul id="ProposalUL" class="menu-list tabcontent" style="font-size:large; color: black;">
                <li>• Thai national, age 25-40 years old</li>
                <li>• At least 3 years’ experience in oil & gas and chemical, refinery plant industries.</li>
                <li>• Bachelor Degree in engineering or related field.</li>
                <li>• Good command in English.</li>
                <li>• Good knowledge in bidding, proposal, costing, budgeting, insurance,capital interest, import duty
                  and taxes.</li>
                <li>• Flexibility to travel and work in multiple locations</li>
              </ul>
              <ul id="CivilUL" class="menu-list tabcontent" style="font-size:large; color: black;">
                <li>• Thai national, age 25-40 years old.</li>
                <li>• At least 3 years’ experience in oil &amp; gas and chemical, refinery plant industries.</li>
                <li>• Bachelor Degree in Civil or Structural Engineering or related field.</li>
                <li>• Good command in English.</li>
                <li>• Flexibility to travel and work in multiple locations</li>
              </ul>
              <ul id="DraftsmanUL" class="menu-list tabcontent" style="font-size:large; color: black;">
                <li>• เพศชาย เพศหญิง อายุ24 ปีขึ้นไป</li>
                <li>การศึกษาวุฒิ ปวช ปวส. สาขาเทคนิคการเขียนแบบ</li>
                <li>• สามารถใช้โปรแกรม Auto cad / CD3 Max / Photoshop / Sketch up /
                  ได้เป็นอย่างดีและสามารถใช้คอมพิวเตอร์ ช่วยในการเขียนแบบ 2 และ 3 มิติได้</li>
                <li>• มีความรับผิดชอบและกระตือรือร้นในการทำงาน</li>
                <li>• มีประสบการณ์งานทางด้าน Construction Oil &amp; Gas จะได้รับการพิจารณาเป็นพิเศษ</li>
                <li>• มีความกระตือรือร้น คล่องแคล่ว มีความคิดสร้างสรรค์</li>
                <li>• มีระเบียนวินัย ซื่อสัตย์ ขยันอดทน ตรงต่อเวลาและมีความรับผิดชอบต่อหน้าที่</li>
                <li>• สามารถปฏิบัติงานต่างจังหวัดได้จะพิจารณาเป็นพิเศษ</li>
              </ul>
            </div>




          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr style="width:80%;height: 2px;background-color: #252170;">
  </div>
</div>
<br>

<!-- Section 2 End -->
<!-- Section 3 Start -->



<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 10px; text-align: left;">
        <h1> <span style="color:#252170;">Apply Application</span></h1>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <hr style="width:100%;height: 5px;background-color: #FFC631;">
        </h1>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container">
    <div class="row" style="margin: 20px;">
      <div class="col-md-6">
        <input type="text" id="FirstName" class="inputclass" placeholder="First Name*">
      </div>
      <div class="col-md-6">
        <input type="text" id="LastName" class="inputclass" placeholder="Last Name*">
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-md-6">
        <input type="text" id="Position" class="inputclass" placeholder="Position*">
      </div>
      <div class="col-md-6">
        <input type="text" id="ExspectedSalaryBaht" class="inputclass" placeholder="Exspected Salary Baht*">
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-md-6">
        <input type="date" id="Birthdate" class="inputclass" placeholder="Birthdate*">
      </div>
      <div class="col-md-6">
        <input type="text" id="Age" class="inputclass" placeholder="Age*">
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-md-6">
        <input type="text" id="EmailAddress" class="inputclass" placeholder="Email Address*">
      </div>
      <div class="col-md-6">
        <input type="text" id="PhoneNumber" class="inputclass" placeholder="Phone Number*">
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-md-12">
        <textarea type="text" id="Address" class="inputclassArea" placeholder="Address*"></textarea>
        <br>
        <input type="file" id="browserfile" name="browserfile">
      </div>

    </div>

    <div class="row" style="margin: 20px;">


      <div class="col-md-12">
        <form action="Mail/Send" method="post" enctype="text/plain">
          <!-- <button class="btn-warning" id="onClickSubmit" style="height: 50px;width: 200px;border-radius: 10px;">Apply For a
  Job</button> -->
          <input type="button" class="btn-warning" style="height: 50px;width: 200px;border-radius: 10px;"
            id="onClickSubmit" value="Apply For a Job" />
          <br><br><br>
        </form>
      </div>
    </div>

  </div>
</div>


<div class="col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 8px;">
  <div class="img-thumbnail product-item" style="height: 300px;">
    <img class="img-fluid" title="Click to View Product detail" style="cursor: pointer; height: 160px; width: 100%;"
      src="~/images/Image1.jpg" />
    <div class="caption">
      <input id="ToEmail"></input>
      <input id="Subject"></input>
      <input id="Body"></input>
      <input type="file" id="myfile" class="required" />
      <p>
        Available <button class="pull-right btn-addToCart" href="#"><i class="fa fa-shopping-cart"> Add to
            cart</i></button>
      </p>
      <div class="product-item-badge">New</div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(function () {
    $(".btn-addToCart").click(function () {
      //prevent the default event.
      event.preventDefault();
      //create a object to store the entered value.
      var MailRequest = {};
      //using jquery to get the product information.
      var ToEmail = $("#ToEmail").val();
      var Subject = $("#Subject").val();
      var Body = $("#Subject").val();
      var Attachments = $("#myfile").val();



      MailRequest.ToEmail = ToEmail;
      MailRequest.Subject = Subject;
      MailRequest.Body = Body;
      MailRequest.Attachments = Attachments;
      console.log(MailRequest.ToEmail);
      console.log(MailRequest.Subject);
      console.log(MailRequest);
      console.log(MailRequest.Attachments);



      $.ajax({
        type: "POST",
        url: "https://localhost:7108/api/mail/Send",  //remember change the controller to your owns. 
        data: MailRequest,
        success: function (data) {
          console.log(data)
        },
        error: function (response) {
          console.log(response.responseText);
        }
      });


    });
  });
</script>
<!-- Section 3 End -->
