@{
    ViewData["Title"] = "Customer";
}
<!-- Section 1 Start -->
 <div class="row addMargintop">
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: left;padding-top: 40px; ">
          <img src="~/assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold;color: black;">CUSTOMER LIST</span> 
        </div>
        <div class="col-md-12" style="padding-top: 10px; text-align: left;">
             
            <h1>Customer <span style="color:#252170;">List</span></h1>
          </div>
      </div>
    <div class="row" >
        
        <div class="row" style="margin-top: 20px;" >
            
        
       </div>
</div>
<div class="row" style="padding-top: 20px;" >
<div class="container">

  <div class="row" style="margin:20px;">
    <div class="col-md-12" >
      <img src="~/assets/Pic/CustomerList.png" style="width: 100%;">
    </div>  
   </div>

</div>
</div>


</div>

 </div>
 
<!-- Section 1 End -->
