@{
    ViewData["Title"] = "Home";
}
 <!-- Banner Starts Here -->

<div class="Navminscreen" ><br><br></div>
  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-1">
        <div class="img-fill">
         <div class="row hrhide" style="margin-top: 170px;">
          
          <div class="col-md-3"> 
            <hr style="width:100%;height: 5px;background-color: #FFC631;">
            <!-- <img src="assets/Pic/dash.png">  -->
          </div>
          <div class="col-md-9" style="text-align: left;padding-top: 8px;">  <span style="color: #fff;text-align: left;">Company Infomation - Tantawancorp.co.th</span> </div>
          </div>
          <br>  
          <div class="text-content">
            
            <h4>Exceptional</h4>
            <h4>Service Exceeding</h4>
            <h4>Expectations</h4> 
            <p>Our civil and structural team am is commit knitted to providing Borturabie, creative & efficient
              engineering solutions</p>
            <a asp-action="About" asp-controller="Home" class="filled-button">CONSULT NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End Here -->
 <!-- start what we do1 -->
  <div class="row">
    <div class="container">
    <div class="col-md-12" style="text-align: left;padding-top: 40px; ">
      <img src="assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold;">WHAT WE DO</span>
    </div>
    <div class="col-md-12" style="padding-top: 10px;">
      <h1>We Fabricated</h1>
      <h1>Wellhead <span style="color:#252170;">Platform</span></h1>
    </div>
  </div>
  </div>
  
  <br>
  <div>
    <div>
      <img src="assets/Pic/Wellhead.png" alt="" style="width: 100%;">
    </div>
    <div class="row" style="background-color:#252170 ;" >
      <div class="container">
      <div class="col-md-12" style="margin:30px">
        <p style="color: #fff; font-size: medium; text-align: center;"> We service for working at Offshore for Manpower Supply Service for Maintenance works.</p>
        <br>
        <div class="row">
          <div class="col-md-4" style="padding-left: 70px; padding-top: 60px;">
            <ul class="menu-list" style="font-size:x-large; color: #FFC631;" >
              <li>• Maintenance works</li>
              <li>• Modification</li>
              <li>• Revamping</li>
              <li>• Upgrading of facilities</li>
            </ul>
          </div>
          <div class="col-md-8">
            <img src="assets/Pic/Wellhead2.png" style="width: 100%;padding-right: 20px;align-items: center;" alt="">
          </div>
        </div>
      </div>
      </div>  
    </div>
  </div>
  <!-- end what we do1 -->
  <!-- start what we do2 -->
  <div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: right;padding-top: 40px;">
      <span style="font-weight: bold;">WHAT WE DO</span> <img src="assets/Pic/dash.png" style="width: 50px;">
    </div>
    <div class="col-md-12" style="text-align: right;padding-top: 10px;">
      <h1>Oil and Gas Platform</h1>
      <h1>Offshore Brownfield Works.</h1>
    </div>
  </div>
<div class="row" >
 <div class="row" style="margin-top: 20px;" >
  <div class="col-md-6" >
    <img src="assets/Pic/offshore03.png" style="width: 100%;">
  </div>
  <div class="col-md-6">
    <img src="assets/Pic/offshore02.png" style="width: 100%;">
  </div>
 </div>
<div class="row"  style="margin-top:20px; margin-bottom: 20px;">
  <div class="col-md-12">
    <img src="assets/Pic/Offshore.png" style="width: 100%;">
  </div>
</div>
</div>
</div>
<!-- End what we do2 -->
<!-- start what we do3 -->
<div class="row" style="background-color:#252170 ;" >
<div class="container" style="background-color: #252170;width: 100%;">
  <div class="row" style="margin-left: 50px;">
    <div class="col-md-12" style="text-align: left;padding-top: 40px; ">
      <img src="assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold;color: #fff;">WHAT WE DO</span> 
    </div>
    <div class="col-md-12" style="padding-top: 10px;">
      <h1 style="color:#fff ;">Tank Farm</h1>
    </div>
  </div>
  <div class="row" style="margin:20px;">
    <div class="col-md-12" >
      <img src="assets/Pic/Tank02.png" style="width: 100%;">
    </div>  
   </div>
  <div class="col-md-12" style="text-align: right;padding-top: 10px;margin-left: -20px;">
    <h1 style="color: #fff;">We Maintenance</h1>
    <h1 style="color: #fff;">Revamping</h1>
    <h1 style="color: #FFC631;">Upgrading of Facilities.</h1>
  </div>
  <div class="row" style="margin:20px;">
    <div class="col-md-12" >
      <img src="assets/Pic/Tank.png" style="width: 100%;">

    </div>
   </div>
</div>
</div>
<!-- end what we do3 -->
<div class="container">
<div class="row" style="margin-left: 50px;">
  <div class="col-md-12" style="text-align: left;padding-top: 40px; ">
    <img src="assets/Pic/dash.png" style="width: 50px;"> <span style="font-weight: bold;">WHAT WE DO</span>
  </div>

  <div class="col-md-12" style="padding-top: 10px;">
    <h1>Refinary</h1>
    <h1>Chemical plant,</h1>
  </div>
</div>
<div class="row" style="margin: 50px;">
  <div class="col-md-12">
    <img src="assets/Pic/Refinary.png" alt="" style="width: 100%;">
  </div>
</div>
</div>
<!-- end what we do4 -->
